.text-box {
  width: 483px;
  height: 178px;
  text-align: left;
  text-decoration: underline;
  font: normal normal 800 72px/80px Open Sans;
  letter-spacing: 0px;
  color: #000000;
  transform-origin: bottom left;
  rotate: 90deg;
  margin-left: 85px;
  margin-top: -178px;
  border-left: black solid;
  border-width: 16px;
  padding-left: 113.5px;
}
.row > .col {
  height: 255px;
  padding: 0px;
}
.row > .col > img {
  width: 255px;
  height: 255px;
  object-fit: cover;
}
.row > .col > img:hover {
  box-shadow: 16px 16px 0px #000000;
}
.photo-wall {
  margin-left: -198px;
  margin-right: 85px;
}
.photoBox {
  height: 550px;
  background: transparent 0% 0% no-repeat padding-box;
  border: 16px solid #ffffff;
  position: relative;
}
.mask {
  padding-top: 129.5px;
}
@media only screen and (max-width: 768px) {
  .body {
    flex-direction: column;
  }
  .text-box {
    rotate: 0deg;
    margin-top: 0px;
    margin-left: 0;
    width: 100%;
    padding: 0;
    font-size: 50px;
  }
  .photo-wall {
    margin: 0;
  }
  .row > .col {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .mask {
    padding-top: 500px;
  }
  .photoBox {
    height: 25%;
    position: absolute;
    top:0px;
    right: 0px;
  }
}
